.notebook {
    background-color: #f1f1f1;
    border-radius: 10px;
    overflow: hidden;

    padding: 20px 0;
}

.notebook * {
    font-family: 'Helvetica', sans-serif;
}

.notebook__line {
    padding: 4px 24px;
    outline: none;
    background-color: #f1f1f1;
}

.notebook__line.--selected {
    background-color: #fafafa;
}


.notebook__line[data-line-type="h1"] {
    font-size: 32px;
    font-weight: 600;
}
.notebook__line[data-line-type="h2"] {
    font-size: 24px;
    font-weight: 600;
}
.notebook__line[data-line-type="h3"] {
    font-size: 18px;
    font-weight: 600;
}
.notebook__line[data-line-type="p"] {
    font-size: 16px;
}